In [3]:
import json

with open('/workspaces/scratchs/data-processing/20231025/sample.json', "r", encoding="utf-8") as fp:
    data = json.load(fp)

In [5]:
import pandas as pd


df = pd.DataFrame(data=data["data"])
df

,market,currency,timestamp,high_price,low_price,trade_price,volume_24h
0,upbit,STORJ,1.698232e+12,610.000000,536.000000,565.000000,3.876348e+10
1,upbit,SNX,1.698232e+12,3157.563844,3072.561394,3104.437313,1.073310e+08
2,upbit,MOC,1.698232e+12,110.410791,110.410791,110.410791,2.607529e+05
3,upbit,SEI,1.698232e+12,152.450047,146.444439,152.450047,4.286820e+06
4,upbit,FIL,1.698232e+12,5361.621942,5065.037306,5104.766712,1.643297e+09
...,...,...,...,...,...,...,...
860,korbit,ONE,1.698232e+12,15.020000,14.560000,14.770000,3.227337e+06
861,korbit,FIL,1.698232e+12,5335.000000,4400.000000,5100.000000,1.302588e+08
862,korbit,XEC,1.698232e+12,0.038400,0.036500,0.037400,5.975268e+07
863,korbit,BAL,1.698232e+12,4549.000000,4549.000000,4549.000000,9.098000e+03
864,korbit,NU,1.698232e+12,100.000000,83.730000,93.890000,3.113369e+06

In [8]:
del df["market"], df["timestamp"]

In [14]:
groupby_currency_agg = df.groupby("currency").agg(["sum", "mean"])
groupby_currency_agg

            high_price                   low_price                \
                   sum          mean           sum          mean
currency
1INCH     1.947607e+03  3.895214e+02  1.883007e+03  3.766014e+02
AAVE      5.759704e+05  1.151941e+05  5.526601e+05  1.105320e+05
ABL       4.161000e+00  4.161000e+00  4.161000e+00  4.161000e+00
ACH       4.397000e+01  2.198500e+01  4.129000e+01  2.064500e+01
ACM       2.605510e+03  2.605510e+03  2.404091e+03  2.404091e+03
...                ...           ...           ...           ...
YFI       1.596000e+07  7.980000e+06  1.528400e+07  7.642000e+06
YGG       7.759688e+02  3.879844e+02  7.123844e+02  3.561922e+02
ZIL       1.285003e+02  2.570006e+01  1.215064e+02  2.430127e+01
ZRX       1.417672e+03  3.544179e+02  1.262665e+03  3.156662e+02
ZTX       3.120000e+01  1.560000e+01  2.929000e+01  1.464500e+01

           trade_price                  volume_24h
                   sum          mean           sum          mean
currency
1INCH     1.913707e+03  3.827414e+02  4.878743e+09  9.757486e+08
AAVE      5.617601e+05  1.123520e+05  5.612493e+09  1.122499e+09
ABL       4.161000e+00  4.161000e+00  1.000000e+04  1.000000e+04
ACH       4.382000e+01  2.191000e+01  8.900307e+08  4.450154e+08
ACM       2.481240e+03  2.481240e+03  6.696855e+07  6.696855e+07
...                ...           ...           ...           ...
YFI       1.541500e+07  7.707500e+06  6.850757e+08  3.425378e+08
YGG       7.592589e+02  3.796295e+02  1.988678e+09  9.943391e+08
ZIL       1.248364e+02  2.496727e+01  1.225439e+10  2.450878e+09
ZRX       1.314323e+03  3.285806e+02  2.348022e+10  5.870055e+09
ZTX       2.999000e+01  1.499500e+01  1.093467e+09  5.467335e+08

[404 rows x 8 columns]

In [24]:
groupby_currency_agg["high_price"]["sum"]

currency
1INCH    1.947607e+03
AAVE     5.759704e+05
ABL      4.161000e+00
ACH      4.397000e+01
ACM      2.605510e+03
             ...
YFI      1.596000e+07
YGG      7.759688e+02
ZIL      1.285003e+02
ZRX      1.417672e+03
ZTX      3.120000e+01
Name: sum, Length: 404, dtype: float64

In [23]:
groupby_currency_agg["high_price"]["sum"]["1INCH"]

1947.606784760114