In [18]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(
    "/Users/user/projects/scratchs/data-processing/2024/202405/20240507/2024-05-07T04-52_export.csv"
)
df

,Unnamed: 0,check_date,앱_누적방문자,앱_신규방문자,DAU,WAU,MAU,playstore_daily_installs,appstore_daily_installs,playstore_total_installs,appstore_total_installs,app_total_installs
0,0,2024-05-06,35824,1,118,937,35290,NaN,NaN,NaN,NaN,NaN
1,1,2024-05-05,35823,6,113,1000,35290,NaN,6.0,NaN,14432.0,NaN
2,2,2024-05-04,35817,8,123,2485,35290,NaN,2.0,NaN,14426.0,NaN
3,3,2024-05-03,35809,10,174,3925,35290,3.0,6.0,17953.0,14424.0,32377.0
4,4,2024-05-02,35799,9,163,5463,35300,4.0,4.0,17950.0,14418.0,32368.0
...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,2024-02-04,153,8,32,252,607,8.0,2.0,40.0,82.0,122.0
93,93,2024-02-03,145,2,34,244,599,2.0,7.0,32.0,80.0,112.0
94,94,2024-02-02,143,20,69,243,597,2.0,9.0,30.0,73.0,103.0
95,95,2024-02-01,123,44,78,231,580,11.0,34.0,28.0,64.0,92.0
96,96,2024-01-31,79,79,114,218,538,17.0,30.0,17.0,30.0,47.0

In [22]:
for index, row in df.iterrows():
    # if None in row.values:
    print(row.values[9])
    print(type(row.values[9]))
    print(row.values[9] == None)
    print(row.values[9] == np.nan)
    break

nan
<class 'float'>
False
False

In [26]:
df[df.iloc[0].isnull().any(axis=1)]

ValueError: No axis named 1 for object type Series

In [30]:
for index, row in df.iterrows():
    if not row.isnull().any():
        print(row.check_date)
        break

2024-05-03